@import '../../styles/partials';

.container {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

  @include tablet {
    padding-top: 75px;
    min-height: calc(100vh - 75px);
  }
}

.content {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headings {
  > h2 {
    font-size: 26px;
    margin: 0 0 16px 0;

    @include tablet {
      font-size: 40px;
    }
  }

  > h3 {
    font-size: 18px;
    margin: 0;

    @include tablet {
      font-size: 30px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;

    > * {
      margin-left: 64px !important;
      margin-right: 64px !important;
    }
  }
}

.wassieGif {
  width: 24vh;
  margin: 32px 0;
  max-width: 200px;
  border-radius: 10px;

  @include tablet {
    width: 36vh;
    max-width: 360px;
  }

  @include desktop {
    width: 45vh;
    max-width: 550px;
  }
}

.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  text-align: center;
}

.description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;

  @include tablet {
    font-size: 24px;
    line-height: 28px;
  }
}