@import '../../../styles/partials';

.container {
  color: #252930;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.content {
  width: 100%;
  max-width: 1024px;
  padding: 0 16px;

  @include desktop {
    padding: 0;
  }
}

.title {
  margin: 12px 0;
  font-size: 26px;
  text-align: center;

  @include tablet {
    font-size: 40px;
  }
}

.team {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}

.teamMember {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.wassieImage {
  @extend .image;
  opacity: 1;
  position: absolute;
  transition-property: opacity;
  transition-duration: 1s;
  &:hover, &:active {
    opacity: 0;
  }
}

.image {
  width: 200px;
  margin: 24px auto;
  border: solid black 2px;
  border-radius: 999px;
  box-sizing: border-box;
}

.realImage {
  @extend .image;
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.35);
}

.name {
  font-size: 18px;
  margin: 0;

  @include tablet {
    font-size: 24px;
  }
}

.twitterLink {
  text-decoration: none;
  color: inherit;
}

.twitterIcon {
  width: 20px;
  margin-left: 4px;
}

.role {
  color: #6a7380;
  font-style: italic;
  font-size: 16px;
  margin: 0;

  @include tablet {
    font-size: 19px;
  }
}
