@font-face {
  font-family: 'Candy Beans'; 
  src: url('./fonts/Candy_Beans.otf');
}

html {
  font-family: 'Candy Beans';
  text-align: center;
  margin: 0 auto;
  color: #4b5563;
}

* {
  font-weight: 100;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #dbeafe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
