@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  /* background-color: #dbe6ff; */
  background-color: rgba(219, 234, 254);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
